
$body-font: 'Mulish', sans-serif;
$body-font2: 'Nunito', sans-serif;
$heading-font: 'Livvic', sans-serif;
$heading-font2: 'Sarabun', sans-serif;
$body-color: #828187;
$body-color2: #373839;
$white: #ffff;
$border: #DDDDDD;
$border1: #BDBCBF;
$border2: rgba(189, 188, 191, 0.35);
$border3: #3F4144;
$border4: #9FA0A1;
$border5: #111213;
$primary-color: #2981E9;
$primary-color1: linear-gradient(270deg, #2981E9 0%, #3C48DD 100%);
$primary-color2: #187AD4;
$secondary-color: #050707;
$thin-bg: #f9f9f9;
$li-color: #41404A;
$shadow:rgba(0, 0, 0, 0.08);
$color1: #373839;
$color2: #696A6A;
$color3: #C3C3C3;
$color4: #F3F3F3;
$color5: #F8F8F8;
$color6: #F7F4F3;
$color7: #0A1F31;
$color8: #e6e6e6;
$color9: #e8f2fb;
.thin-bg {
    background: $thin-bg;
}